/**************
      MAIN
***************/

.thumbnail img {
    height: 350px;
    width: 100%;
}
#desclaimer {
    text-align: center;
}
#price-form {
    margin-bottom: 15px;
    padding: 15px;
    background-color: gold;
}
.price-form-row {
    margin-bottom: 10px;
}

.listing-form-row, .listing-button {
    margin-top: 10px;
}
.listing-form h3 {
    color: darkslategray;
}